# Backend Host Configuration (Use local LAN IP or adb reverse port 3001)
EXPO_PUBLIC_API_URL=http://192.168.1.x:3001

# Google OAuth Web Client ID for Mobile / Native Token Exchange
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=your-google-web-client-id.apps.googleusercontent.com

# Base Sepolia Smart Contract Address
EXPO_PUBLIC_ESCROW_CONTRACT_ADDRESS=0x165B47291B87569b91696DCE6f1207eE15C9f783
